<div class="p-8" *ngIf="!loading; else loadingSpinner">
  <h2 class="font-normal capitalize">
    {{ weatherInfo?.name || 'Sem informação' }}
  </h2>
  <hr />

  <div class="flex flex-wrap justify-center w-full md:justify-between">
    <section>
      <div class="flex items-center gap-4 mt-4">
        <fa-icon
          [icon]="faTemperatureHigh"
          size="xl"
          style="color: #dd6464; width: 15px"></fa-icon>
        <span class="w-20 text-lg"
          >{{ weatherInfo?.main?.temp_max || '00.00' }} Cº</span
        >
        <span class="w-40 text-sm italic text-gray-600"
          >temperatura máxima</span
        >
      </div>
      <div class="flex items-center gap-4 mt-4">
        <fa-icon
          [icon]="faTemperatureQuarter"
          size="xl"
          style="color: #e7d156; width: 15px"></fa-icon>
        <span class="w-20 text-lg"
          >{{ weatherInfo?.main?.temp || '00.00' }} Cº</span
        >
        <span class="w-40 text-sm italic text-gray-600">temperatura atual</span>
      </div>
      <div class="flex items-center gap-4 mt-4">
        <fa-icon
          [icon]="faTemperatureLow"
          size="xl"
          style="color: #56a1e7; width: 15px"></fa-icon>
        <span class="w-20 text-lg"
          >{{ weatherInfo?.main?.temp_min || '00.00' }} Cº</span
        >
        <span class="text-sm italic text-gray-600 w-36"
          >temperatura miníma</span
        >
      </div>
    </section>
    <section>
      <div class="flex items-center gap-4 mt-4">
        <fa-icon
          [icon]="faDroplet"
          size="xl"
          style="color: #6498dd; width: 15px"></fa-icon>
        <span class="w-20 text-lg"
          >{{ weatherInfo?.main?.humidity || '00' }} %</span
        >
        <span class="w-40 text-sm italic text-gray-600">Humidade</span>
      </div>
      <div class="flex items-center gap-4 mt-4">
        <fa-icon
          [icon]="faCloud"
          size="xl"
          style="color: #94aab9; width: 15px; margin: 0 5px 0 -5px"></fa-icon>
        <span class="w-20 text-lg"
          >{{ weatherInfo?.clouds?.all || '00' }} %</span
        >
        <span class="w-40 text-sm italic text-gray-600">Nuvens</span>
      </div>
      <div class="flex items-center gap-4 mt-4">
        <fa-icon
          [icon]="faWind"
          size="xl"
          style="color: #b8b8c7; width: 15px"></fa-icon>
        <span class="w-20 text-lg"
          >{{ weatherInfo?.main?.temp_min?.toFixed(0) || '00' }} m/s</span
        >
        <span class="text-sm italic text-gray-600 w-36">Velocidade</span>
      </div>
    </section>
  </div>
  <span
    class="flex justify-center italic text-center text-gray-900 md:mt-12 md:mt text-md font-bo"
    >Hoje o céu está "
    {{ weatherInfo?.weather?.[0]?.description || '' }} "</span
  >
</div>

<ng-template #loadingSpinner>
  <!-- Coloque aqui o código do spinner -->
  <div class="p-8">
    <span class="block w-full h-8 mb-1 bg-gray-300 animate-pulse">
      &nbsp;
    </span>
    <hr />
    <div class="flex flex-wrap justify-evenly">
      <span
        class="block w-2/5 h-8 m-2 bg-gray-300 animate-pulse"
        *ngFor="let skeleton of skeletons">
        {{ skeleton }}</span
      >
    </div>
  </div>
  <span class="block w-1/4 h-8 mx-auto bg-gray-300 animate-pulse">
    &nbsp;
  </span>
</ng-template>
